:root{
    --light-pink: rgb(252, 181, 214);
    --Purple: rgb(109, 7, 83);
    --orange: rgb(247, 171, 73);
    --light-blue: rgb(245, 253, 253);
    --white-translusent: rgba(255, 255, 255, 0.336);
}


body{
    background-color: var(--light-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(var(--light-pink), var(--orange));
    color: var(--Purple);

}

#gridbox{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,auto);
    gap: 25px;
    padding: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#gridbox div{
    background-color:var(--white-translusent) ;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 40px;
}
 .item-1{
   grid-area: 1/1/4/5;
   align-content: center;
   font-size: large;
}

.item-2{
    grid-area: 1/5/1/7;
}

.item-3{
    grid-area: 2/5/2/7;
}

.item-4{
    grid-area: 3/5/3/7;
}


@media screen and (max-width: 770px) {

.item-1{
    grid-area: 1/1/2/7;
}

.item-2{
    grid-area: 2/1/3/7;

}

.item-3{
    grid-area: 3/1/4/7;
}

.item-4{
    grid-area: 4/1/5/7;
}
    
}